<div id="gameboard">
  <div id="question-box">
    <div id="bigQ">
      Q
    </div>
    <div id="question">
      <%= @game.question %>
    </div>
  </div>
  <br>
  <div id="options">

    <%= form_tag "/", method: :put do %>
      <div id="form-grid">
      <% @game.choices.each do |choice| %>
        <input type="radio" name="choice" value='<%= choice %>'> <%= choice %>
      <% end %>
      </div>
      <br>
      <input id="submit" type="submit" name="submit" value="final answer" disabled>
    <% end %>
  </div>
</div>

<div id="score-box">
  <div id="score-card">
    Score: <%= @game.score %>
  </div>
  <%= button_to "start over", action: :new %>
</div>
